@model EduApi.SiteModels.AnasayfaIcerikModel
@{
    ViewBag.Title = Resources.Varsayilan.baslik_anasayfa;
}

@{Html.RenderPartial("AnasayfaUstAramaBar", Model);}


<br />

@{
    Html.RenderPartial("Enler", Model.enler);
    if (ViewBag.ReturnUrl != null)
    {
        <input type="hidden" id="ReturnUrl" value="@ViewBag.ReturnUrl" />
    }
}



<div class="mlr30 margintop20">
    <div class="col-md-8">
        @if (Model.yorumlar.Count > 0)
        {
            Html.RenderPartial("AnasayfaYorum", Model.yorumlar);

        }
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12" @*id="mapsyerayarla"*@>
        
        <h4 class="marginbottom0 erguvan text-center">@Resources.Varsayilan.anasayfa_harita_baslik</h4>

        <div id="google-map-custom" class="gmap" style="height:250px !important; width:100% !important;"></div>

    </div>
   
</div>

@Html.Partial("AnasayfaPin")






   
<div class="container-fluid"></div>






@section sayfa_css{
    <link rel="stylesheet" href="~/Content/css/components/bs-rating.css" type="text/css" />
}
@section sayfa_js{
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAOn_vQHWDPeYYEQCQDMmuBYLOEzS6BsfA&libraries=places"></script>
    <script type="text/javascript" src="~/Content/js/jquery.vmap.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery.gmap.js"></script>
    <script type="text/javascript" src="~/Content/js/components/star-rating.js"></script>
}
